.top {
    width:100%,
    height:40px;
    min-width:500px;
    text-align:right;
}

.lc {
   width:200px;
   float:left;
   min-height:1px;
}

.cc {
    margin-left:200px;
}

.inbox_doc {
    border:none;
    position:absolute;
    left:200px;
    width:100%;
}

#basic_composer {
    width:500px;
}
